canvas {
    border: 4px dotted black;
    position: absolute;
    margin: 0 auto;
    margin-left: 10px;
}

.canvas1 {
    z-index: 1;
}

.canvas2 {
    z-index: 2;
}

.click4grid {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
}

.pixel {
    border: 1px solid black;
    float: left;
    height: 25px;
    width: 25px;
}

#chooseGrid {
    width: 400px;
    float: right;
    margin-top: 120px;
}

#gridCanvas {
    float: right bottom;
    width: 600px;
}
